body{
    font-family: "Ubuntu",Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.993);
    color: white;
    overflow-x: hidden;
}
.contain {
    padding: 0px 100px;
}
nav .active{
    color: #ffbd39;
    padding: 0px;
    border-bottom: 3px solid #ffbd39;
    height: 51px;
}
nav span:hover{
    color: #ffbd39;
    height: 51px;
}
nav a>span:visited{
    color: #ffbd39 !important;
    border-bottom: 3px solid #ffbd39 !important;
    padding-bottom: 8px !important;
}
#hero-text{
    padding: 80px;
}
.span{
    color:#ffbd39;
}
header{
    height: 100vh;
}
.hero-small{
    padding: 30px;
}
.bold{
    font-weight: bolder;
}
.justify{
    text-align: justify;
}
.icon{
    font-size: 80px !important;
    padding: 30px 80px;
    color: #ffbd39;
}
.progress .determinate{
    background-color: #ffbd39 !important;
    
}
.collection .collection-item{
    background-color: #212121 !important;
}
h4{
    padding-bottom: 30px;
}
.form{
    padding-top: 70px;
}

#white {
    background-color: white;
    padding: 50px 30px;
}
footer>li>a {
    padding-bottom: 10px !important;
}
form input, textarea{
    color: white;
    font-family: "Gabriela",Arial, Helvetica, sans-serif;
}
.card.black{
    background-color: rgba(0, 0, 0, 0.993) !important;
}
#black{
    background-color: rgba(0, 0, 0, 0.993);
}

